<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Products</h1>
<p>
    <a th:href="@{/create}">
        Add new products
    </a>
</p>
<form th:action="@{/search}" method="get">
    <input name="name">
    <input type="submit" value="Search"/>
</form>
<table id="table">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>count</th>
        <th>description</th>
        <th>producer</th>
        <th>Edit</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="products : ${productsList}">
        <td th:text="${products.id}"></td>
        <td th:text="${products.name}"></td>
        <td th:text="${products.count}"></td>
        <td th:text="${products.description}"></td>
        <td th:text="${products.producer}"></td>
        <td><a th:href="@{/{id}/edit(id=${products.id})}">edit</a></td>
        <td><a th:href="@{/{id}/view(id=${products.id})}">view</a></td>
        <td><a th:href="@{/{id}/delete(id=${products.id})}">delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>