<footer>
<div>
<!--  <div class="row">-->
<!--    <div class="col-1"></div>-->
<!--    <div class="col-2">-->
<!--      Thông tin chung-->
<!--      Giới thiệu về Phi Long-->
<!--      Tin tuyển dụng-->
<!--      Tin tức-->
<!--      Tin khuyến mãi-->
<!--      Liên hệ, góp ý-->
<!--      Khách hàng doanh nghiệp-->
<!--    </div>-->
<!--    <div class="col-2">-->
<!--      Hỗ trợ khách hàng-->
<!--      Tìm hiểu về mua trả góp-->
<!--      Chính sách vận chuyển, giao hàng-->
<!--      Chính sách, quy định chung-->
<!--      Chính sách bảo hành-->
<!--      Chính sách đổi hàng-->
<!--      Bảo mật thông tin khách hàng-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      Phi Long Đà Nẵng-->
<!--      Thời gian làm việc: 07h30 - 20h30-->
<!--      Showroom 1: 152 Hàm Nghi, Quận Thanh Khê, Đà Nẵng-->
<!--      Tel: (0236) 3 888 000 Mobile: (84) 0903 555 310-->
<!--      Email: danang@philong.com.vn-->
<!--      Showroom 2: 52 Nguyễn Văn Linh, Quận Hải Châu, Đà Nẵng-->
<!--      Tel: (0236) 3 888 000 Mobile: (84) 0932 678 771-->
<!--      Email: danang@philong.com.vn-->

<!--      Phi Long Huế-->
<!--      Thời gian làm việc: 07h30 - 20h30-->
<!--      48 Hùng Vương, TP.Huế, Thừa Thiên Huế-->
<!--      Tel: (0234) 3 977 000 - Fax: (0234) 3 3935 468-->
<!--      Email: hue@philong.com.vn-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      Customer's Care-->
<!--      Trung tâm Bảo Hành và Sửa chữa: Tầng 3 - 152 Hàm Nghi, Đà Nẵng (Giờ LV: 7:30 - 11:30 và 13:30 - 17:30 )-->
<!--      Tel: (0236)3 872 000 ( 7:30 - 17:30 )-->
<!--      Gọi sửa chữa: (0236)3 655 000 ( 7:30 - 11:30 và 13:30 - 17:30 )-->
<!--      Hotline sửa chữa: 0911 299 228 ( 7:30 - 11:30 và 13:30 - 17:30 )-->
<!--      Gọi kỹ thuật: (0236)3 872 000 ( 7:30 - 11:30 và 13:30 - 17:30 )-->
<!--      Quản lý chất lượng dịch vụ: 1800 1222 ( 7:30 - 11:30 và 13:30 - 17:30 )-->
<!--      Email: danang@philong.com.vn-->
<!--    </div>-->
<!--    <div class="col-1"></div>-->

<!--  </div>-->
  <div class="row">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      <p>
        © 2019. CÔNG TY TNHH CÔNG NGHỆ TIN HỌC PHI LONG. Giấy phép kinh doanh: 0400127402 - do sở KH & ĐT TP. Đà Nẵng cấp
        ngày: 17/09/1998. Địa chỉ: 152 - 158 Hàm Nghi, Phường Thạc Gián, Quận Thanh Khê, Đà Nẵng. Điện thoại: 02363 888
        000 - 02363 816 000 - Fax: 02363 653 000. Email: danang@philong.com.vn. Chịu trách nhiệm nội dung: Nguyễn Khoa
        Long. All rights reserved. Xem chính sách sử dụng webLaptop / Dell / Inspiron / Vostro / XPS / G-Series / HP /
        Pavilion / ENVY / EliteBook / Essential / ProBook / Spectre / ZBook / OMEN / ASUS / VivoBook / ZenBook / ASUSPRO /
        TUF Gaming / ROG / Acer / Aspire / Swift / Spin / Nitro / Predator / Lenovo / Ideapad / ThinkPad / Legion / Yoga /
        ThinkBook / Apple / MacBook Air / MacBook Pro / MSI / Content Creation / GF Gaming / GL Gaming / GP Gaming / GE
        Gaming / GS Gaming / GT Gaming / Xiaomi / LG / Linh kiện laptop / Sạc laptop / Bàn phím Laptop / Pin Laptop / Ổ
        cứng Laptop / HDD 2.5" / SSD M.2 SATA / SSD M.2 NVMe / SSD 2.5" / RAM Laptop / Laptop Đồ Họa / Laptop Mỏng Nhẹ /
        Laptop Mini / Avita / Phụ Kiện Laptop / Balô laptop / Đế tản nhiệt laptop / Túi đựng laptop / Bàn laptop đa năng /
        Miếng Dán / Laptop Sinh Viên - Văn Phòng / Laptop 2-Trong-1 / Laptop Workstation
      </p>
    </div>
  </div>
</div>
</footer>
